<ion-view name="infos" hide-nav-bar="false">
  <ion-content class="shipments-background" padding="true" scrollbar-y="false">
    <div ng-show="infos.length > 0" class="card" ng-repeat="i in infos track by i.id">
      <div class="item item-shipment"  ui-sref="tabs.infoDetails({id: i.id})">
        <info-card info="i"></info-card>
      </div>
    </div>
    <div class="no-elements more-margin" ng-hide="infos.length > 0">
      <div class="title">Todavía no hay preguntas cargadas</div>
      <div class="subtitle">¡Volvé mas tarde!</div>
    </div>
  </ion-content>
</ion-view>
