<ion-view title="Editar Perfil" hide-tabs>
  <ion-content padding="true" class="has-header" scrollbar-y="false">
    <div class="text-center">
      <img ng-src="{{user.picture}}" class="profile-picture">
      <button class="button button-stable profile-button" ng-click="updatePicture()">Cambiar foto</button>
    </div>
    <form novalidate id="editProfile-form" name="form" class="list">
      <div class="row">
        <div class="col">
          <label class="item item-input item-floating-label login-input" ng-class="{'has-error': form.first_name.$invalid && form.$submitted}">
            <span class="input-label">Nombre</span>
            <input type="text" name="first_name" placeholder="Nombre" ng-model="user.first_name" required>
          </label>
          <div class="form-errors" ng-if="form.$submitted" ng-messages="form.first_name.$error">
            <div class="form-error" ng-message="required">Este campo es obligatorio</div>
          </div>
        </div>
        <div class="col">
          <label class="item item-input item-floating-label login-input" ng-class="{'has-error': form.last_name.$invalid && form.$submitted}">
            <span class="input-label">Apellido</span>
            <input type="text" name="last_name" placeholder="Apellido" ng-model="user.last_name" required>
          </label>
          <div class="form-errors" ng-if="form.$submitted" ng-messages="form.last_name.$error">
            <div class="form-error" ng-message="required">Este campo es obligatorio</div>
          </div>
        </div>
      </div>
      <label class="item item-input item-floating-label login-input" ng-class="{'has-error': form.email.$invalid && form.$submitted}">
        <span class="input-label">Email</span>
        <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
      </label>
      <div class="form-errors" ng-if="form.$submitted" ng-messages="form.email.$error">
        <div class="form-error" ng-message="required">Este campo es obligatorio</div>
        <div class="form-error" ng-message="email">El email es inválido</div>
      </div>

      <label class="item item-input item-floating-label login-input" ng-class="{'has-error': form.phone.$invalid && form.$submitted}">
        <span class="input-label">Teléfono</span>
        <input type="tel" name="phone" placeholder="Teléfono" ng-model="user.telephone" required>
      </label>
      <div class="form-errors" ng-if="form.$submitted" ng-messages="form.phone.$error">
        <div class="form-error" ng-message="required">Este campo es obligatorio</div>
      </div>
      <button type="submit" ng-click="form.$valid && updateUser()" style="font-weight:500;" class="button button-calm button-block">Guardar</button>
    </form>
  </ion-content>
</ion-view>
