<ion-view name="help" hide-nav-bar="false">
  <ion-content scroll="false">
    <div map-lazy-load="https://maps.google.com/maps/api/js?libraries=places">
      <ng-map
        class="ng-map-container"
        center="-34.603722, -58.381592"
        zoom="13"
        clickable-icons="false"
        disable-default-u-i="true"
        zoom-to-include-markers="auto">
        
        <!-- <directions
          travel-mode="DRIVING"
          suppress-markers="true"
          origin="{{shipment.start_address_latitude}}, {{shipment.start_address_longitude}}"
          destination="{{shipment.end_address_latitude}}, {{shipment.end_address_longitude}}"
        >
        </directions>
        <marker
          id="start"
          ng-if="shipment.start_address_latitude && shipment.start_address_longitude"
          position="{{shipment.start_address_latitude}}, {{shipment.start_address_longitude}}"
          icon="http://54.186.103.202/marker-a-thumb.png"
        >
        <marker
          id="end"
          ng-if="shipment.end_address_latitude && shipment.end_address_longitude"
          position="{{shipment.end_address_latitude}}, {{shipment.end_address_longitude}}"
          icon="http://54.186.103.202/marker-b-thumb.png"
        >
        </marker> -->
      </ng-map>
    </div>

    <div class="send-container" ng-show="assistance.state == undefined">
      <div class="item">
        <i class="ion-home"></i>
        {{ address }} 
      </div>
      <button ng-click="needHelp()" class="button button-balanced button-block emergency-button">
        <b> Necesito ayuda </b>
      </button>
    </div>

    <div class="send-container" ng-show="assistance.state == 'accepted' || assistance.state == 'pending'">
      <div class="item">
        Tiempo estimado: {{ assistance.minutes || '20min' }}
      </div>
      <button ng-click="cancelAssistance()" class="button button-energized button-block cancel-button">
        <b> Cancelar asistencia </b>
      </button>
    </div>
  </ion-content>
</ion-view>
