<ion-view name="messages" hide-nav-bar="false">
  <ion-content class="shipments-background" padding="false" scrollbar-y="false">
    <div ng-show="messages.length > 0" ng-repeat="m in messages track by m.id">
      <div class="item item-message"  ng-click="messageDetails(m)">
        <message-card message="m"></message-card>
      </div>
    </div>
    <div class="no-elements more-margin" ng-hide="messages.length > 0">
      <div class="title">Todavía no hay notificaciones cargadas</div>
      <div class="subtitle">¡Volvé mas tarde!</div>
    </div>
  </ion-content>
</ion-view>
