<div class="col">
  <div class="row">
    <div class="col text-center">
      Describinos tu apariencia, para facilitar tu ubicación en caso de emergencia
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label class="item item-input item-floating-label login-input">
        <span class="input-label">Altura (cm)</span>
        <input type="number" min="0" placeholder="Altura (cm)" ng-model="user.height">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label class="item item-input item-floating-label login-input">
        <span class="input-label">Edad (años)</span>
        <input type="number" min="0" placeholder="Edad (años)" ng-model="user.age">
      </label>
    </div>
  </div>

</div>
